<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  {{ stylesheet_tag('base') | safe }}
</head>
<body>

<header class="headerBox with-video">
  <nav class="topBarBox">
    <ul class="topBar">
      <li class="logo left">Coalink</li>

      <li class="right myRelease pointer">发布我的需求</li>
      <li class="right colorWhite help mTop pointer">帮助<i class="arrorwDown"></i></li>
      <li class="right colorWhite signIn pointer">登录</li>
      <li class="right colorWhite mTop register pointer">注册</li>

    </ul>
  </nav>
</header>

{{ javascript_tag('commons') | safe }}
</body>
</html>
