 body{background-color:rgb(0,0,0); color:#fff;}
.header{text-align: center;margin-top: 5px;}

.title{font-size: 68px; text-align: center;text-shadow: 1px 1px rgba(197, 223, 248,0.8),2px 2px rgba(197, 223, 248,0.8),3px 3px rgba(197, 223, 248,0.8),4px 4px rgba(197, 223, 248,0.8),5px 5px rgba(197, 223, 248,0.8),6px 6px rgba(197, 223, 248,0.8);}  

/*  tab  */
.ribbon {display:inline-block;}
.ribbon:after, .ribbon:before {margin-top:0.5em;content: "";float:left;border:1.5em solid #fff;}
.ribbon:after {border-right-color:transparent;}
.ribbon:before {border-left-color:transparent;}
.ribbon a:link, .ribbon a:visited { color:#000;text-decoration:none;float:left;height:3.5em;overflow:hidden;}
.ribbon span {background:#fff;display:inline-block;line-height:3em;padding:0 1em;margin-top:0.5em;position:relative;-webkit-transition: background-color 0.2s, margin-top 0.2s;  /* Saf3.2+, Chrome */-moz-transition: background-color 0.2s, margin-top 0.2s;  /* FF4+ */-ms-transition: background-color 0.2s, margin-top 0.2s;  /* IE10 */-o-transition: background-color 0.2s, margin-top 0.2s;  /* Opera 10.5+ */transition: background-color 0.2s, margin-top 0.2s;}
.ribbon  .hoverSpan {background:#FFD204;margin-top:0;}
.ribbon span:before {content: "";position:absolute;top:3em;left:0;border-right:0.5em solid #9B8651;border-bottom:0.5em solid #fff;}
.ribbon span:after {content: "";position:absolute;top:3em;right:0;border-left:0.5em solid #9B8651;border-bottom:0.5em solid #fff;}

#quartercircle {width: 200px;height: 200px;background-color: #a72525;-webkit-border-radius: 200px 0 0 0;
	width: 200px;height: 100px;background-color: #a72525;-webkit-border-radius: 0 0 200px 200px;}

	#apple {
	right: 50px;
	height: 202px;
    margin: 0px;
	top: 25px;
	width: 172px;
}
.apple1 {
	border-radius: 108px 108px 108px 94px/128px 128px 128px 128px;
	height: 128px;
	top: 47px;
	width: 108px;
}
.apple2 {
	left: 72px;
}
.apple3 {
	border-radius: 22px 64px 64px 64px/106px 106px 106px 106px;
	height: 106px;
	left: 12px;
	transform: rotate(-25deg);
	top: 98px;
	width: 64px;
}
.apple4 {
	border-radius: 64px 22px 64px 64px/106px 106px 106px 106px;
	left: 103px;
	transform: rotate(25deg);
}
.apple5 {
	height: 145px;
	left: 54px;
	top: 53px;
	width: 70px;
}
.apple6 {
	left: 50px;
	transform: scaley(0.5);
	top: 14px;
}
.apple61 {
	border-radius: 20px;
	height: 80px;
	transform: rotate(-45deg) scale(0.9);
	width: 80px;
}
.apple7 {
	border-radius: 50%;
	height: 22px;
	left: 66px;
	top: 192px;
	width: 47px;
}
.apple8 {
	border-radius: 50%;
	height: 85px;
	left: 144px;
	top: 63px;
	width: 85px;
	background: black;
}
#apple .slice {
	height: 200px;
	width: 180px;
}
#apple .slice1 *,.apple9:before,.apple9:after {
	background: #62bb47;
}
#apple .slice2 * {
	background: #fcb827;
}
#apple .slice3 * {
	background: #f6821f;
}
#apple .slice4 * {
	background: #e03a3e;
}
#apple .slice5 * {
	background: #963d97;
}
#apple .slice6 * {
	background: #009ddc;
}
#apple .slice1 {
	clip: rect(0 180px 73px 0px);
}
#apple .slice2 {
	clip: rect(73px 180px 98px 0px);
}
#apple .slice3 {
	clip: rect(98px 180px 123px 0px);
}
#apple .slice4 {
	clip: rect(123px 180px 148px 0px);
}
#apple .slice5 {
	clip: rect(148px 180px 174px 0px);
}
#apple .slice6 {
	clip: rect(174px 180px 205px 0px);
}
.apple9 {
	left: 122px;
	top: -18px;
	transform: rotate(40deg);
}
.apple9:before,.apple9:after {
	border-radius: 50%;
	content: "#";
	display: block;
	height: 90px;
	position: absolute;
	text-indent: -9999px;
	width: 90px;
}
.apple9:before {
	clip: rect(0 13px 80px 0px);
}
.apple9:after {
	clip: rect(14px 100px 76px 76px);
	left: -64px;
}
#apple .header h2 { 
	text-indent: 200px;
}
/* style for the eCSSpert logo */
#info .ecsspert:before {
	color: #63d6b9;
}
#info .ecsspert:after {
	color: #fff;
}
.icon, .icon * {
    display: block;
    position: absolute;
} 

#adidas { 
    left: 390px;
    height: 213px;  
    overflow: hidden; 
    top: 1562px;
    width: 305px;
}
#adidas .leaf-t1,
#adidas .leaf-t2 { 
    background: #fff;
    border-radius: 204px/280px;
    clip: rect(18px 43px 255px 0px);
    height: 280px;
    top: -68px;
    width: 194px;
}
#adidas .leaf-t2 { 
    left: -109px;
    transform: rotate(180deg);
}
#adidas .leaf1 .leaf-t1,
#adidas .leaf1 .leaf-t2 { 
    height: 250px;
}
#adidas .leaf2 .leaf-t1,
#adidas .leaf2 .leaf-t2,
#adidas .leaf3 .leaf-t1,
#adidas .leaf3 .leaf-t2 {
    clip: rect(20px 38px 220px 0px );
    height: 240px;
}
#adidas .leaf1 { 
    top: 50px;
    left: 111px;
}
#adidas .leaf2 { 
    left: 0px;
    top: 123px;
    transform: rotate(-40deg);
}
#adidas .leaf2 .leaf-t1,
#adidas .leaf2 .leaf-t2 { 
    border-radius: 200px/287px;
    width: 200px;
}
#adidas .leaf2 .leaf-t1 {
    left: 5px;
}
#adidas .leaf2 .leaf-t2 {
    left: -120px;
}
#adidas .leaf3 { 
    left: 241px;
    top: 69px;
    transform: rotate(40deg);
}
#adidas .leaf3 .leaf-t1,
#adidas .leaf3 .leaf-t2 {
    border-radius: 200px/287px;
    width: 200px;
}
#adidas .leaf3 .leaf-t1 { 
    left: 4px;
}
#adidas .leaf3 .leaf-t2 {
    left: -121px;
}
#adidas .stripes {
	background-color: #000;
    box-shadow: 0 24px 0 0 #000, 0 48px 0 0 #000;
    height: 12px;
    left: 0;
    top: 128px;
    width: 100%;
    z-index: 10;
}


#adobe { 
    height: 250px;
  left: 708px;
  overflow: hidden; 
  top: 1693px;
  width: 292px;
}
.adobe1,
.adobe2,
.adobe3 {
    background: #fff;
}
.adobe1 {
    height: 305px;
    left: 55px;
    top: -26px;
    transform: rotate(23deg);
    width: 70px;
}
.adobe2 {
    height: 305px;
    left: 162px;
    top: -26px;
    transform: rotate(-23deg);
    width: 70px;
}
.adobe3 {
    height: 50px;
    left: 62px;
    top: 200px;
    transform: skewx(22deg);
    width: 93px;
} 
 
#bp {
	  height: 200px;
  left: 971px;
  margin: -100px 0 0 -100px;
  overflow: hidden;
  top: 116px;
  width: 200px;
}
#bp .circle1 {
	left: 69px;
	top: 83px;
}
#bp .leaf {
	border-radius: 50%;
	bottom: 0;
	font-size: 0;
	height: 100px;
	left: 24px;
	transform: rotate(20deg);
	width: 40px;
}
#bp .leaf:before,#bp .leaf:after {
	background: #009e01;
	border-radius: 137px/196px;
	clip: rect(15px 21px 127px 0px);
	content: "#";
	display: block;
	height: 141px;
	position: absolute;
	width: 98px;

}
#bp .leaf:before { 
	left: 11px;
	top: 5px;
}
#bp .leaf:after {
	left: -47px;
	top: 5px;
	transform: rotate(180deg);
}
#bp .circle2 {
	left: 77px;
	top: 82px;
	transform: rotate(10deg) scale(0.82);
}
#bp .circle2 .leaf:before,#bp .circle2 .leaf:after {
	background: #80c300;
	clip: rect(13px 18px 134px 0px);
}
#bp .circle2 .leaf:before {
	left: 14px;
}
#bp .circle2 .leaf:after {
	left: -50px;
}
#bp .circle3 {
	left: 80px;
	top: 90px;
	transform: scale(0.63);
}
#bp .circle3 .leaf:before,#bp .circle3 .leaf:after {
	background: #fff001;
}
#bp .circle3 .leaf:before {
	clip: rect(13px 14px 133px 0px);
	left: 18px;
}
#bp .circle3 .leaf:after {
	clip: rect(14px 14px 134px 0px);
	left: -54px;
}
#bp .circle4 {
	left: 87.5px;
	top: 90.5px;
	transform: rotate(10deg) scale(0.47);
}
#bp .circle4 .leaf:before,#bp .circle4 .leaf:after {
	background: #fff;
	clip: rect(13px 10px 134px 0px);
}
#bp .circle4 .leaf:before {
	left: 22px;
}
#bp .circle4 .leaf:after {
	left: -58px;
}
/* style for the eCSSpert logo */
#info .ecsspert:after {
	color: #383620;
}




.android {
    position: absolute;
    left: 157px;
  top: 466px;
}
/**** BODY ****/
.body {
    width: 336px;
    height: 285px;
    background-color: #A5C63B;
    border-radius: 0px 0px 30px 30px;
    position: absolute;
}
.body:before,
.body:after {
    background-color: #A5C63B;
    content: '';
    width: 75px;   
    height: 122px;
    bottom: -122px;
    position: absolute;
    border-radius: 0px 0px 50px 50px;
}
.body:before { left: 68px; }
.body:after{ right: 68px; }
/**** HEAD ****/
.head {
    width: 336px;
    height: 155px;
    background-color: #A5C63B;
    border-radius: 200px 200px 0px 0px;
    position: absolute;
    top: -170px;
}
.head:before,
.head:after {
    background-color: #A5C63B;
    content: '';
    width: 10px;   
    height: 53px;
    position: absolute;
    top: -30px;
    border-radius: 20px 20px 0px 0px;
}
.head:after { -webkit-transform: translate(63px, 0px) rotate(-30deg); -moz-transform:translate(63px, 0px) rotate(-30deg); -o-transform:translate(63px, 0px) rotate(-30deg);  }
.head:before{ -webkit-transform: translate(255px, 0px) rotate(30deg); -moz-transform:translate(255px, 0px) rotate(30deg); -o-transform:translate(255px, 0px) rotate(30deg);  }
/**** ARMS ****/
.arms:before,
.arms:after {
    background-color: #A5C63B;
    content: '';
    width: 75px;   
    height: 233px;
    top: -8px;
    position: absolute;
    border-radius: 40px 40px 40px 40px;  
}
.arms:before { left: -90px; }
.arms:after{ right: -90px; }
/**** EYES ****/
.eyes:before,
.eyes:after {
    background-color: #FFFFFF;
    content: '';
    width: 27px;   
    height: 27px;
    top: 68px;
    position: absolute;
    border-radius: 20px;
}
.eyes:before { left: 78px; }
.eyes:after{ right: 78px; }


#rss {
  margin: 0 auto;
  display: block;
  text-indent: -9999em;
  background: #999;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.3);
  -webkit-transition: 200ms all cubic-bezier(.54,-.2,.44,1.2);
  -moz-transition: 200ms all cubic-bezier(.54,-.2,.44,1.2);
  -ms-transition: 200ms all cubic-bezier(.54,-.2,.44,1.2);
  -o-transition: 200ms all cubic-bezier(.54,-.2,.44,1.2);
  transition: 200ms all cubic-bezier(.54,-.2,.44,1.2);
}
#rss:before {
  content: '';
  position: absolute;
  left: 12%;
  bottom: 12%;
  width: 20%;
  height: 20%;
  background: #FFF;
  border-radius: 50%;
  -webkit-box-sizing: initial;
}
#rss:after {
	-webkit-box-sizing: initial;
  content: '';
  position: absolute;
  left: 12%;
  bottom: 12%;
  width: 30%;
  height: 30%;
  border: 25px double white;
  border-bottom: 0;
  border-left: 0;
  border-radius: 5px 100% 5px 0;
}



#windows { 
  left: 750px;
  height: 220px;
  margin: -110px 0 0 -90px;
  top: 441px;
  transform: rotate(16deg);
  width: 188px;
}
.window-e1,.window2,.window3,.window4 { 
	position: absolute;
}
.window-e1 { 
	border-radius: 100px/67px;
	clip: rect(0px 77px 67px 0);
	height: 67px;
	left: 9px;
	position: absolute;
	top: 11px;
	width: 102px;
}
.window-e2 {
	height: 85px;
	left: 0;
	position: absolute;
	top: 27px;
	transform: skewy(-30deg);
	width: 25px;
}
.window-e3 { 
	height: 41px;
	left: 24px;
	position: absolute;
	top: 64px;
	width: 62px;
}
.window-e4 { 
	opacity: 1;
	border-radius: 100px/67px;
	clip: rect(0 77px 12px 16px);
	height: 67px;
	left: 9px;
	position: absolute;
	top: 96px;
	width: 100px;
}
.window1 { 
	left: 0;
	position: absolute;
	top: 0;
}
.window1 .window-e1,.window1 .window-e2 { 
	background: #d53407;
}
.window1 .window-e3 {
	background-image: radial-gradient(100% 100%, circle, #ebbd2c, #D53407 60%); /* legacy syntax */
	background-image: radial-gradient(circle at 100% 100%, #ebbd2c, #D53407 60%); /* standard syntax */
}
.window2 {
	left: 183px;
	position: absolute;
	transform: rotate(180deg);
	top: 119px;
}
.window2 .window-e1 {
	background-image: radial-gradient(100% 0%, circle, #c7d78e, #7dae1c 50%); /* legacy syntax */
	background-image: radial-gradient(circle at 100% 0%, #c7d78e, #7dae1c 50%); /* standard syntax */
}
.window2 .window-e2,.window2 .window-e3 { 
	background: #7dae1c;
}
.window3 { 
	left: 0;
	position: absolute;
	top: 95px;
}
.window3 .window-e1,.window3 .window-e2,.window3 .window-e3 { 
	background: #3576ac;
}
.window3 .window-e1 {
	background-image: radial-gradient(100% 0%, circle, #b7d7ec, #3576ac 50%); /* legacy syntax */
	background-image: radial-gradient(circle at 100% 0%, #b7d7ec, #3576ac 50%); /* standard syntax */
}
.window4 {
	left: 183px;
	position: absolute;
	transform: rotate(180deg);
	top: 214px;
}
.window4 .window-e1,.window4 .window-e2 { 
	background: #fac112;
}
.window4 .window-e3 {
	background-image: radial-gradient(100% 100%, circle, #f5e2a8, #fac112 70%); /* legacy syntax */
	background-image: radial-gradient(circle at 100% 100%, #f5e2a8, #fac112 70%); /* standard syntax */
}
#windows .registered {
	left: 190px;
	position: absolute;
	transform: rotate(-16deg);
	top: 160px;
}
#windows .shadow1,#windows .shadow2,#windows .shadow3 { 
	background: #3c86c0;
}
.window1 .window-e4,.window3 .window-e4 { 
	top: 101px;
}
.window1 .shadow1,.window3 .shadow1 {
	left: 65px;
	clip: rect(0px 30px 94px 21px);
	transform: skewy(30deg);
	top: 16px;
}
.window1 .shadow2,.window3 .shadow2 { 
	clip: rect(50px 40px 90px 5px);
	top: 30px;
	width: 32px;
}
.window1 .shadow3,.window3 .shadow3 {
	clip: rect(0 77px 12px 16px);
	top: 96px;
}
.window2 .shadow1,.window4 .shadow1 {
	clip: rect(0px 10px 90px 5px);
	left: -10px;
	top: 28px;
}
.window2 .shadow2,.window4 .shadow2 { 
	clip: rect(70px 40px 90px 5px);
	left: -6px;
	top: -44px;
}
.window2 .shadow3,.window4 .shadow3 {
	clip: rect(0 73px 22px 0px);
	left: 9px;
	top: 6px;
}	



 


#vw-logo {
	left: 400px;
    height:298px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    width:298px;
	background:#e0dcd9;
	margin-top:50px;
	border-radius:150px;
	-moz-border-radius:150px;
	-webkit-border-radius:150px;
	border:1px solid #707070;
	background-image: -moz-linear-gradient( top left, #e0dcd9 0%, #b7b9b4 63%, #a4a4a4 92%);
	background-image: -o-linear-gradient( top left, #e0dcd9 0%, #b7b9b4 63%, #a4a4a4 92%);
	background-image: -webkit-linear-gradient( top left, #e0dcd9 0%, #b7b9b4 63%, #a4a4a4 92%);
}

#vw-logo div {
    position:absolute;
}

#blue-silver {
	width:287px;
	height:287px;
	background:#6082bf;
	border-radius:143px;
	-moz-border-radius:143px;
	-webkit-border-radius:143px;
	top:5px;
	left:5px;
	border:1px solid #707070;
	background-image: -moz-linear-gradient( top left, #6b8bc6 0%, #6082bf 5%, #4a6cac 15%, #2a5297 32%, #1d346a 60%, #172651 90%, #131c45 95%);
	background-image: -o-linear-gradient( top left, #6b8bc6 0%, #6082bf 5%, #4a6cac 15%, #2a5297 32%, #1d346a 60%, #172651 90%, #131c45 95%);
	background-image: -webkit-linear-gradient( top left, #6b8bc6 0%, #6082bf 5%, #4a6cac 15%, #2a5297 32%, #1d346a 60%, #172651 90%, #131c45 95%);
}

#blue-silver:after {
	content:"";
	position:absolute;
	width:245px;
	height:245px;
	top:21px;
	left:21px;
	background:#ccc;
	border-radius:122px;
	-moz-border-radius:122px;
	-webkit-border-radius:122px;
	background-image: -moz-linear-gradient( top left, #fefefe 0%, #f5f7f6 50%, #d3d3d3 60%, #b0b0b0 75%, #9b9c97 90%);
	background-image: -o-linear-gradient( top left, #fefefe 0%, #f5f7f6 50%, #d3d3d3 60%, #b0b0b0 75%, #9b9c97 90%);
	background-image: -webkit-linear-gradient( top left, #fefefe 0%, #f5f7f6 50%, #d3d3d3 60%, #b0b0b0 75%, #9b9c97 90%);
	box-shadow: #150f31 5px 5px 5px;
	-moz-box-shadow: #150f31 5px 5px 5px;
	-webkit-box-shadow: #150f31 5px 5px 5px;
}

#shadow-blue {
	width:205px;
	height:205px;
	top:47px;
	left:47px;
	border-radius:102px;
	-moz-border-radius:102px;
	-webkit-border-radius:102px;
	background-image: -moz-linear-gradient( top left, #787c7f 0%, #8e8f93 30%, #adb0a9 40%, #eff2ff 45%, #fcfcfc 55%);
	background-image: -o-linear-gradient( top left, #787c7f 0%, #8e8f93 30%, #adb0a9 40%, #eff2ff 45%, #fcfcfc 55%);
	background-webkit: -o-linear-gradient( top left, #787c7f 0%, #8e8f93 30%, #adb0a9 40%, #eff2ff 45%, #fcfcfc 55%);
}

#shadow-blue:after {
	content:"";
	position:absolute;
	width:201px;
	height:201px;
	top:2px;
	left:2px;
	border-radius:102px;
	background:#385e9f;
	-moz-border-radius:102px;
	-webkit-border-radius:102px;
	background-image:-moz-radial-gradient( 35% 35%, #a7bfe3 0%, #7b9ccf 20%, #5a7cb9 40%, #385e9f 60%, #234a8b 80%, #1e3c7a 90%);
	background-image:-webkit-radial-gradient( 35% 35%, #a7bfe3 0%, #7b9ccf 20%, #5a7cb9 40%, #385e9f 60%, #234a8b 80%, #1e3c7a 90%);
	box-shadow:inset 5px 4px 5px #2c3447;
	-moz-box-shadow:inset 5px 4px 5px #2c3447;
	-webkit-box-shadow:inset 5px 4px 5px #2c3447;
}

#v {
	width:33px;
	height:27px;
	background:#fff;
	top:120px;
	left:133px;
	box-shadow:7px 7px 8px #2c3447;
	-moz-box-shadow:7px 7px 8px #2c3447;
	-webkit-box-shadow:7px 7px 8px #2c3447;
}

#v:before {
	content:"";
	position:absolute;
	width:27px;
	height:94px;
	background:#fefefe;
	left:-21px;
	top:-68px;
	-moz-transform:rotate(-24deg);
	-webkit-transform:rotate(-24deg);
	-o-transform:rotate(-24deg);
	box-shadow:8px 0px 5px -5px #2c3447;
	-moz-box-shadow:8px 0px 5px -5px #2c3447;
	-webkit-box-shadow:8px 0px 5px -5px #2c3447;
}

#v:after {
	content:"";
	position:absolute;
	width:27px;
	height:94px;
	background:#fff;
	left:27px;
	top:-68px;
	-moz-transform:rotate(24deg);
	-o-transform:rotate(24deg);
	-webkit-transform:rotate(24deg);
	box-shadow:8px 0px 5px -5px #2c3447;
	-moz-box-shadow:8px 0px 5px -5px #2c3447;
	-webkit-box-shadow:8px 0px 5px -5px #2c3447;
	background-image: -moz-linear-gradient( top left, #f6f8f7 0%, #fefefe 50%);
	background-image: -o-linear-gradient( top left, #f6f8f7 0%, #fefefe 50%);
	background-image: -webkit-linear-gradient( top left, #f6f8f7 0%, #fefefe 50%);
}

#w-left {
	height:158px;
	width:24px;
	background:#fff;
	left:74px;
	top:90px;
	-moz-transform:rotate(-24deg);
	-o-transform:rotate(-24deg);
	-webkit-transform:rotate(-24deg);
	box-shadow:8px 0px 5px -5px #2c3447;
	-moz-box-shadow:8px 0px 5px -5px #2c3447;
	-webkit-box-shadow:8px 0px 5px -5px #2c3447;
	background-image: -moz-linear-gradient( top, #fafbfa 0%, #eaeaea 70%, #cfcfcf 95%);
	background-image: -o-linear-gradient( top, #fafbfa 0%, #eaeaea 70%, #cfcfcf 95%);
	background-image: -webkit-linear-gradient( top, #fafbfa 0%, #eaeaea 70%, #cfcfcf 95%);
}

#w-left:after {
	content:"";
	position:absolute;
	height:80px;
	width:27px;
	background:#fff;
	left:26px;
	top:85px;
	-moz-transform:rotate(48deg);
	-o-transform:rotate(48deg);
	-webkit-transform:rotate(48deg);
	box-shadow:8px 0px 5px -5px #2c3447;
	-moz-box-shadow:8px 0px 5px -5px #2c3447;
	-webkit-box-shadow:8px 0px 5px -5px #2c3447;
	background-image: -moz-linear-gradient( top, #fefefe 0%, #eaeaea 60%, #cfcfcf 90%);
	background-image: -o-linear-gradient( top, #fefefe 0%, #eaeaea 60%, #cfcfcf 90%);
	background-image: -webkit-linear-gradient( top, #fefefe 0%, #eaeaea 60%, #cfcfcf 90%);
}

#w-right {
	height:158px;
	width:24px;
	background:#fff;
	right:73px;
	top:90px;
	-moz-transform:rotate(24deg);
	-o-transform:rotate(24deg);
	-webkit-transform:rotate(24deg);
	box-shadow:8px 0px 5px -5px #2c3447;
	-moz-box-shadow:8px 0px 5px -5px #2c3447;
	-webkit-box-shadow:8px 0px 5px -5px #2c3447;
	background-image: -moz-linear-gradient( top, #d4d4d4 0%, #d6d6d6 40%, #bcbcbc 60%, #ababaa 70%);
	background-image: -o-linear-gradient( top, #d4d4d4 0%, #d6d6d6 40%, #bcbcbc 60%, #ababaa 70%);
	background-image: -webkit-linear-gradient( top, #d4d4d4 0%, #d6d6d6 40%, #bcbcbc 60%, #ababaa 70%);
}

#w-right:after {
	content:"";
	position:absolute;
	height:80px;
	width:27px;
	background:#fff;
	right:26px;
	top:85px;
	-o-transform:rotate(-48deg);
	-moz-transform:rotate(-48deg);
	-webkit-transform:rotate(-48deg);
	box-shadow:8px 0px 5px -5px #2c3447;
	-webkit-box-shadow:8px 0px 5px -5px #2c3447;
	-moz-box-shadow:8px 0px 5px -5px #2c3447;
	background-image: -moz-linear-gradient( top, #fefefe 0%, #d6d6d6 50%, #bcbcbc 60%, #ababaa 70%);
	background-image: -o-linear-gradient( top, #fefefe 0%, #d6d6d6 50%, #bcbcbc 60%, #ababaa 70%);
	background-image: -webkit-linear-gradient( top, #fefefe 0%, #d6d6d6 50%, #bcbcbc 60%, #ababaa 70%);
}

#extras {
	width:31px;
	height:7px;
	background:#fefefe;
	top:158px;
	left:134px;
}

#extras:before {
	content:"";
	position:absolute;
	width:20px;
	height:20px;
	background:#cfcfcf ;
	top:70px;
	left:-27px;
	-moz-transform:rotate(24deg);
	-o-transform:rotate(24deg);
	-webkit-transform:rotate(24deg);
}

#extras:after {
	content:"";
	position:absolute;
	width:20px;
	height:25px;
	background:#ababaa;
	top:70px;
	left:39px;
	-moz-transform:rotate(-24deg);
	-o-transform:rotate(-24deg);
	-webkit-transform:rotate(-24deg);
}

#shadow-fix {
	width:24px;
	height:30px;
	background:#ababaa;
	top:195px;
	left:180px;
	-moz-transform:rotate(24deg);
	-o-transform:rotate(24deg);
	-webkit-transform:rotate(24deg);
}

#shadow-fix:after {
	content:"";
	position:absolute;
	width:10px;
	height:27px;
	background:#c4c4c4;
	top:-109px;
	left:22px;
	background-image: -moz-linear-gradient( left, #d4d4d4 0%, #c4c4c4 90%);
	background-image: -o-linear-gradient( left, #d4d4d4 0%, #c4c4c4 90%);
	background-image: -webkit-linear-gradient( left, #d4d4d4 0%, #c4c4c4 90%);
}


 
 

/*
body {
	background-color: #f2f2f2;
    background: radial-gradient(50% 50%, circle, #ddd 50%, #f2f2f2 50%);
    background: radial-gradient(#ddd 50%, #f2f2f2 50%);
    background-size: 4px 4px;
}
*/
#abnamro .icon {
	background: #007d78;
	height: 125px;
	left: 0%;
	top: 0%; 
	width: 150px;
}
#abnamro .icon:after {
	background: linear-gradient(45deg, #007d78 50%, #ff9300 50%);
	content: "";
	display: block;
	height: 106px;
	left: 22px;
	position: absolute;
    transform: rotate(45deg);
	top: 72px;
	width: 106px;
}
/* style for the eCSSpert logo */
#info .ecsspert:before {
	color: #63d6b9;
}
#info .ecsspert:after {
	color: #fff;
}





#atari { 
	  height: 304px;
  left: 900px;
  margin: -152px 0 0 -270px;
  position: absolute;
  top: 700px;
  width: 540px;
}
#atari .pong {
	left: 20px;
	position: absolute;
	top: 2px;
}
#atari .pong * {
	background: #fff;
	position: absolute;
}
@-moz-keyframes ball { 0%, 100% { left: 30px; top: 107px } 30% { left: 300px; top: 294px } 50% { left: 464px; top: 192px } 80% { left: 198px; top: 0px } }
@-moz-keyframes player1 { 0%, 90%, 100% { top: 70px } 30% { top: 90px } 50% { top: 80px } 80% { top: 60px } }
@-moz-keyframes player2 { 0%, 90%, 100% { top: 180px } 30% { top: 200px } 50% { top: 190px } 80% { top: 160px } }
@-webkit-keyframes ball { 0%, 100% { left: 30px; top: 107px } 30% { left: 300px; top: 294px } 50% { left: 464px; top: 192px } 80% { left: 198px; top: 0px } }
@-webkit-keyframes player1 { 0%, 90%, 100% { top: 70px } 30% { top: 90px } 50% { top: 80px } 80% { top: 60px } }
@-webkit-keyframes player2 { 0%, 90%, 100% { top: 180px } 30% { top: 200px } 50% { top: 190px } 80% { top: 160px } }
@keyframes ball { 0%, 100% { left: 30px; top: 107px } 30% { left: 300px; top: 294px } 50% { left: 464px; top: 192px } 80% { left: 198px; top: 0px } }
@keyframes player1 { 0%, 90%, 100% { top: 70px } 30% { top: 90px } 50% { top: 80px } 80% { top: 60px } }
@keyframes player2 { 0%, 90%, 100% { top: 180px } 30% { top: 200px } 50% { top: 190px } 80% { top: 160px } }
#atari .pong .ball {
	-moz-animation: ball 4s linear 0s infinite normal;
	-webkit-animation: ball 4s linear 0s infinite normal;
	animation: ball 4s linear 0s infinite normal;
	height: 6px;
	left: 300px;
	top: 294px;
	width: 6px;
}
#atari .pong .player {
	height: 54px;
	width: 8px;
}
#atari .pong .player1 {
	-moz-animation: player1 4s linear 0s infinite alternate;
	-webkit-animation: player1 4s linear 0s infinite alternate;
	animation: player1 4s linear 0s infinite alternate;
	left: 22px;
	top: 70px;
}

#atari .pong .player2 { 
	-moz-animation: player2 4s linear 0s infinite normal;
	-webkit-animation: player2 4s linear 0s infinite normal;
	animation: player2 4s linear 0s infinite normal;
	left: 470px;
	top: 180px;
}
#atari .pong .midfield {
	height: 240px;
	left: 247px;
	top: 30px;
	width: 6px;
}
#atari .icon {
	height: 200px;
	left: 153px;
	overflow: hidden;
	position: absolute;
	top: 52px;
	width: 234px;
}
#atari .icon * {
	position: absolute;
}
#atari .side2 {
	left: 234px;
	position: absolute;
	top: 0px;
	transform: scalex(-1);
}
#atari .atari1,.atari3 {
	background: #fa000f;
}
#atari .atari1 {
	height: 200px;
	left: 85px;
	width: 32px;
}
#atari .atari2 {
	height: 256px;
	top: -53px;
	width: 141px}
#atari .atari2 {
	border-radius: 0 0 141px 141px/256px 256px 256px 256px;
	left: -34px;
	top: -22px;
}
#atari .atari3 {
	border-radius: 0 0 200px 200px/334px 334px 334px 334px;
	bottom: 0;
	height: 334px;
	left: -101px;
	top: -135px;
	width: 200px;
}
#atari .atari4 {
	border-radius: 0 0 183px 183px/239px 239px 239px 239px;
	height: 239px;
	left: -100px;
	top: -89px;
	width: 183px;
}
 #atari, #atari .atari2,#atari .atari4 {
	background: #111;
}




 #cbs, #cbs:before, #cbs:after {
    background-color: #134b95;
}
#cbs {
    border-radius: 50%;
  height: 200px;
  left: 0px;
  /* margin: -100px 0 0 -100px; */
  top: 817px;
  width: 200px;
}
#cbs:before,
#cbs:after
{
    border-radius: 50%;
    content: "#";
    display: block;
    height: 204px;
    left: -2px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 204px;
}
#cbs:before {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
    clip: rect(0 200px 58px 0);
    top: 44px;
}
#cbs:after {
    clip: rect(146px 200px 204px 0);
    top: -44px;
}
#cbs .cbs1 {
    border-radius: 50%;
    display: block;
    height: 106px;
    left: 47px;
    top: 47px;
    width: 106px;
    z-index: 10;
}
#cbs,
#cbs .cbs1 {
    background: #ccc;
    box-shadow: inset 0 3px 1px rgba(255,255,255,0.5), inset 0 -2px 0 #aaa, 0 2px 2px rgba(0,0,0,0.5), inset 0 -3px 2px rgba(255,255,255,0.5);
}
 

 /*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
#colorvivo {
   border-radius: 50%;
  height: 178px;
  left: 251px;
  /* margin: -89px 0 0 -89px; */
  top: 939px;
  width: 178px;
}
#colorvivo .center,
#colorvivo .letter1:after,
#colorvivo .letter2:after,
#colorvivo .letter4:after,
#colorvivo .letter9:after,
#colorvivo .letter1:before {
	background: #19171c;
}
#colorvivo .big-colors {
	box-shadow: 1px 8px 0px 2px #e20079,              /* pink   */
                6px -6px 0 4px #219cd3,               /* blue   */
                -9px -4px 0 4px #fcea1a,              /* yellow */
                0 0 100px 0px rgba(255,255,255,0.5);  /* glow   */
    border-radius: 50%;
	height: 178px;
	width: 178px;
}
#colorvivo .small-colors {
	border-radius: 50%;
	box-shadow: -12px 11px 0 #e42c38      /* red    */,
				12px 2px 0 #003a85        /* indigo */,
				-2px -14px 0 #58ab28      /* green  */;
	height: 162px;
	left: 8px;
	transform: skew(2deg);
	top: 8px;
	width: 162px;
}
#colorvivo .center {
	border-radius: 50%;
	height: 178px;
    font-size: 0;
	width: 178px; 
}
#colorvivo .center * {
	background: #fff;
}
#colorvivo .letter1,
#colorvivo .letter2,
#colorvivo .letter4,
#colorvivo .letter9 {
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
#colorvivo .letter1:after,
#colorvivo .letter2:after,
#colorvivo .letter4:after,
#colorvivo .letter9:after {
	border-radius: 50%;
	content: "";
	display: block;
	height: 18px;
	left: 8px;
	position: absolute;
	top: 6px;
	width: 14px;
}
#colorvivo .letter1,
#colorvivo .letter2,
#colorvivo .letter4 {
	top: 58px;
}
#colorvivo .letter1 {
	left: 28px;
}
#colorvivo .letter1:before {
	content: "";
	display: block;
	height: 8px;
	left: 20px;
	position: absolute;
	top: 11px;
	width: 10px;
}
#colorvivo .letter2 {
	left: 59px;
}
#colorvivo .letter4 {
	left: 101px;
}
#colorvivo .letter9 {
	left: 108px;
	top: 90px;
}
#colorvivo .letter3,
#colorvivo .letter7 {
	height: 41px;
	width: 8px;
}
#colorvivo .letter3 {
	border-radius: 0 4px 0 0;
	left: 91px;
	top: 47px;
}
#colorvivo .letter7 {
	border-radius: 0 0 0 4px;
	left: 71px;
	top: 90px;
}
#colorvivo .letter5 {
	background: none;
	border: 8px solid #fff;
	border-right: 0 none;
	border-bottom: 0 none;
	border-radius: 15px 0 0 0;
	height: 23px;
	left: 133px;
	top: 57px;
	width: 9px;
}
#colorvivo .letter6,
#colorvivo .letter6:before,
#colorvivo .letter8,
#colorvivo .letter8:before {
	background: white;
	height: 30px;
	transform: skew(-18deg);
	top: 90px;
	width: 8px;
}
#colorvivo .letter6:before,
#colorvivo .letter8:before {
	content: "";
	display: block;
	left: -11px;
	top: 0;
	position: absolute;
	transform: skew(33deg);
}
#colorvivo .letter6 {
	left: 56px;
}
#colorvivo .letter8 {
	left: 97px;
}
/* style for the eCSSpert logo */
#info .ecsspert:before {
	color: #63d6b9;
}
#info .ecsspert:after {
	color: #fff;
}


/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
 
#dribbble {
    background: #f05e95;
    border-radius: 50%;
    height: 250px;
    left: 50%;
    margin: -150px 0 0 -150px;
     top: 1000px;
    transform: scale(0.7);
    width: 250px;
}
.dribbble1 {
    background: #F58FB5;
    border-radius: 50%;
    height: 132px;
    left: 6px;
    top: 8px;
    transform: rotate(12deg);
    width: 200px;
}
#dribbble, .dribbble2, .dribbble3, .dribbble4 {
    border: 25px solid #cb386f;
}
.dribbble2 {
    border-radius: 50%;
    clip: rect(0px,200px,140px,0);
    height: 309px;
    left: 53px;
    top: 108px;
    width: 356px;
}
.dribbble3 {
    border-radius: 50%;
    clip: rect(230px, 390px, 360px, 180px);
    height: 309px;
    left: -192px;
    top: -234px;
    width: 353px;
}
.dribbble4 {
    border-radius: 50%;
    clip: rect(0, 1088px, 184px, 850px);
    height: 1164px;
    left: -1054px;
    top: -207px;
    transform: rotate(30deg);
    width: 1248px;
}

/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
  
#cloud9 {
     height: 200px;
  left: 59%;
  /* margin: -100px 0 0 -150px; */
  overflow: hidden;
  top: 913px;
  width: 300px;
}
#cloud9 .cloud {
    background: #298ccf;
}
#cloud9 .cloud1 {
    border-radius: 50%;
    height: 130px;
    top: 53px;
    width: 130px;
}
#cloud9 .cloud2 {
    border-radius: 50%;
    height: 120px;
    left: 179px;
    top: 62px;
    width: 120px;
}
#cloud9 .cloud3 {
    border-radius: 50%;
    left: 84px;
    height: 138px;
    top: 0;
    width: 138px;
}
#cloud9 .cloud4 {
    border-radius: 140px/110px 110px 110px 120px;
    box-shadow: 0 2px 0 #fff, 0 5px 5px rgba(0, 0, 0, 0.2);
    clip: rect(30px, 300px, 140px, 0px);
    height: 130px;
    top: 59px;
    width: 298px;
}
#cloud9 .shine {
    background-image: radial-gradient(70% 100%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 225, 0.05) 70%, rgba(255, 255, 225, 0.2) 100%); /* legacy */
    background-image: radial-gradient(circle at 70% 100%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 225, 0.05) 70%, rgba(255, 255, 225, 0.2) 100%); /* standard */
    transform: scale(0.95);
}
#cloud9 .number {
    background: #f6f6f6;
}
#cloud9 .number1 {
    border-radius: 50%;
    box-shadow: inset 0 2px #fff, 0 -2px 2px rgba(0, 0, 0, 0.2);
    clip: rect(-2px, 92px, 46px, 0);
    height: 92px;
    left: 108px;
    top: 26px;
    width: 92px;
}
#cloud9 .number2 {
    border-radius: 50% 50% 0;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.2);
    clip: rect(46px, 59px, 92px, -2px);
    height: 92px;
    left: 108px;
    top: 26px;
    width: 59px;
}
#cloud9 .number3 {
    border-radius: 50%;
    clip: rect(31px, 80px, 127px, 36px);
    height: 146px;
    left: 115px;
    top: 27px;
    transform: rotate(20deg);
    width: 80px;
}
#cloud9 .number4 {
    clip: rect(31px, 85px, 135px, 48px);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.2);
}
#cloud9 .number5 {
    border-radius: 10px 50% 50% 50%;
    height: 37px;
    left: 131px;
    top: 115px;
    transform: rotate(37deg);
    width: 15px;
}
#cloud9 .number6 {
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    height: 10px;
    left: 130px;
    top: 152px;
    transform: rotate(32deg);
    width: 27px;
}
#cloud9 .number7 {
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
    height: 36px;
    left: 145px;
    top: 56px;
    transform: rotate(-9deg);
    width: 20px;
}
#cloud9 .inner-glow {
    background: red;
    height: 50%;
    width: 100%;
    bottom: 11px;
    background: radial-gradient(50% 100%, 35% 100%, rgba(255, 255, 255, .45), rgba(255, 255, 255, 0)); /* legacy */
    background: radial-gradient(35% 100% at 50% 100%, rgba(255, 255, 255, .45), rgba(255, 255, 255, 0)); /* standard */
}
/* style for the eCSSpert logo */
#info .ecsspert:before {
    color: #ccc;
}
#info .ecsspert:after {
    color: #333;
}
/* style for the eCSSpert logo */
#info .ecsspert:before {
    color: #63d6b9;
}
#info .ecsspert:after {
    color: #fff;
}





/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
 
#fpldbp {
	  height: 198px;
  left: 18px;
  /* margin: -99px 0 0 -99px; */
  transform: rotate(45deg);
  width: 198px;
  top: 1058px;
}
#fpldbp * {
	border-radius: 50%;
	height: 138px;
	width: 142px;
}
#fpldbp .curve1 {
	left: 54px;
	top: 20px;
	box-shadow: 0 27px 0 yellow;
}
#fpldbp .curve1 * {
	left: -15px;
	top: 35px;
	transform: rotate(90deg);
}
#fpldbp .curve1,
#fpldbp .curve3 {
	box-shadow: 0 27px 0 #444;
}
#fpldbp .curve2,
#fpldbp .curve4 {
	box-shadow: 0 27px 0 #009dd3;
}
/* style for the eCSSpert logo */
#info .ecsspert:before {
	color: #63d6b9;
}
#info .ecsspert:after {
	color: #fff;
}


/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
#mactutorial {
	background-color: #9e9e9e;
}
#mactutorial {
	  left: 261px;
  height: 200px;
  /* margin: -100px 0 0 -43px; */
  top: 1163px;
  width: 86px;
}
#mactutorial .face {
	background-color: #81c4e2;
	border: 5px solid black;
	border-radius: 76px;
	height: 154px;
	left: 0;
	top: 19px;
	width: 76px;
}
	#mactutorial .face2,
	#mactutorial .nose1,
	#mactutorial .nose2 {
	background-color: #cbdde6;
}
#mactutorial .face2 {
	border: 5px solid black;
	border-radius: 76px;
	clip: rect(0px 86px 200px 43px);
	height: 154px;
	left: 0;
	top: 19px;
	width: 76px;
}
#mactutorial .eye {
	background: black;
	border-radius: 5px;
	box-shadow: 42px 0 0 black;
	height: 5px;
	left: 11px;
	top: 85px;
	width: 23px;
}
#mactutorial .smile {
	border: 5px solid black;
	border-radius: 50%;
	clip: rect(28px 56px 56px 0);
	height: 46px;
	left: 15px;
	top: 102px;
	width: 46px;
}
#mactutorial .beard {
	border: 11px solid transparent;
	border-top: 34px solid black;
	border-bottom: 0 none;
	left: 32px;
	top: 164px;
}
#mactutorial .nose1 {
	border-left: 5px solid black;
	height: 32px;
	left: 36px;
	transform: rotate(20deg);
	top: 83px;
	width: 8px;
}
#mactutorial .nose2 {
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	border-radius: 0 0 0 3px;
	height: 14px;
	left: 31px;
	top: 112px;
	width: 8px;
}
#mactutorial .line1 {
	background: black;
	border-radius: 5px;
	height: 82px;
	left: 41px;
	top: 3px;
	width: 5px;
}
#mactutorial .line2 {
	background: black;
	border-radius: 5px;
	height: 40px;
	left: 41px;
	top: 126px;
	width: 5px;
}
/* style for the eCSSpert logo */
#info .ecsspert:after {
	color: #333;
}


/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
#magento {
	left: 50%;
	height: 210px;
	margin: -105px 0 0 -89px;
	  top: 1200px;
	width: 178px;
}
.magento1 { 
	background: #f6844e;
	height: 104px;
	position: absolute;
	top: 26px;
	transform: skewy(-30deg);
	width: 89px;
}
.mozilla .magento1{
	left: 162px;
}
.magento2 { 
	background: #f6844e;
	height: 104px;
	left: 89px;
	position: absolute;
	top: 26px;
	transform: skewy(30deg);
	width: 89px;
}
.magento3 { 
	background: #f15c22;
	height: 104px;
	position: absolute;
	top: 78px;
	transform: skewy(30deg);
	width: 89px;
}
.mozilla .magento3 {
	left: 1px;
}
.magento4 { 
	background: #f15c22;
	height: 104px;
	left: 89px;
	position: absolute;
	top: 78px;
	transform: skewy(-30deg);
	width: 89px;
}
.magento5,.magento6,.magento7,.magento8,.magento9,.magento10 { 
	background: #fff;
}
.magento5 { 
	height: 105px;
	left: 22px;
	position: absolute;
	top: 72px;
	transform: skewy(30deg);
	width: 24px;
}
.magento6 { 
	height: 105px;
	left: 133px;
	position: absolute;
	top: 72px;
	transform: skewy(-30deg);
	width: 24px;
}
.magento7 { 
	height: 144px;
	left: 77px;
	position: absolute;
	top: 41px;
	transform: skewy(30deg);
	width: 12px;
}
.mozilla .magento7 {
	left: 78px;
}
.magento8 { 
	height: 144px;
	left: 89px;
	position: absolute;
	top: 41px;
	transform: skewy(-30deg);
	width: 12px;
}
.magento9 { 
	height: 78px;
	left: 44px;
	position: absolute;
	top: 20px;
	transform: rotate(60deg) skewy(30deg);
	width: 24px;
}
.magento10 { 
	height: 78px;
	left: 111px;
	position: absolute;
	top: 20px;
	transform: rotate(-60deg) skewy(-30deg);
	width: 24px;
}
/* style for the eCSSpert logo */
#info .ecsspert:before {
	color: #63d6b9;
}
#info .ecsspert:after {
	color: #fff;
}





/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
#mcdonalds {
	background: #c00;
}
#mcdonalds .left,
#mcdonalds .right,
#mcdonalds .border1,
#mcdonalds .border2 {
    margin-left: -130px;
}
#mcdonalds {
    height: 200px;
  left: 800px;
  /* margin: -100px 0 0 -119px; */
  overflow: hidden;
  top: 1200px;
  width: 238px;
}
#mcdonalds .arch {
	background: #ffc20f;
	border-radius: 139px/410px;
	clip: rect(0 75px 201px 0);
	height: 410px;
	position: absolute;
	transform: skewx(-1deg);
	width: 139px;
}
#mcdonalds .arch1 {
	left: 130px;
}
#mcdonalds .arch2 {
	left: 135px;
	transform: skewx(0deg) scalex(-0.9);
}
#mcdonalds .glow {
	clip: rect(0px 267px 189px 130px);
	left: 29px;
	position: absolute;
	top: 16px;
	transform: scalex(0.83) scaley(0.95);
}
#mcdonalds .glow .arch {
	background-image: linear-gradient(0deg,rgb(247,245,103) 70%,rgb(255,195,15) 100%);
}
#mcdonalds .inner {
	clip: rect(0 280px 222px 130px);
	left: 61px;
	position: absolute;
	top: 23px;
	transform: scalex(0.66);
}
#mcdonalds .inner .arch2 {
	left: 142px;
}
#mcdonalds .hole {
	clip: rect(0 270px 230px 130px);
	left: 61px;
	position: absolute;
	top: 23px;
	transform: scalex(0.66);
}
#mcdonalds .hole .arch {
	background: #c00; 
}
#mcdonalds .hole .arch1 {
	clip: rect(5px 57px 201px 0);
	left: 158px;
	transform: skewx(0deg);
}
#mcdonalds .hole .arch2 {
	clip: rect(0 55px 201px 0);
	left: 124px;
	transform: skewx(-2deg) scalex(-0.9);
}
#mcdonalds .triangle {
	border: 14px solid transparent;
	border-bottom-color: #ffc20f;
	position: absolute;
}
#mcdonalds .triangle1 {
	left: 135px;
	top: 168px;
}
#mcdonalds .triangle2 {
	left: 236px;
	top: 156px;
}
#mcdonalds .right {
	clip: rect(0 249px 250px 0px);
	left: 498px;
	position: absolute;
	transform: scalex(-1);
}
#mcdonalds .right .glow {
	left: 40px;
}
#mcdonalds .right .inner {
	left: 71px;
}
#mcdonalds .right .inner .arch2 {
	left: 141px;
	transform: skewx(0deg) scalex(-0.9) rotate(1deg);
}
#mcdonalds .border1 {
	background: #ffc20f;
	height: 15px;
	left: 230px;
	position: absolute;
	top: 180px;
	width: 38px;
}
#mcdonalds .border2 { 
	background: #c00;
	height: 15px;
	left: 229px;
	position: absolute;
	top: 189px;
	width: 40px;
}





/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
  #nike, .nike3,.nike5 { 
	background: #000;
}
#nike {
  position: absolute;
  height: 132px;
  left: 30px;
  /* margin: -66px 0 0 -175px; */
  top: 1506px;
  width: 100px;
}
#nike .icon {
	position: absolute;
	left: -40px;
	top: 8px;
	transform: rotate(-23deg);
}
.nike1,.nike2,.nike3,.nike4,.nike5 { 
	position: absolute;
}
.nike1,.nike2 { 
	background: #fff;
}
.nike1 { 
	border-radius: 101px/230px;
	height: 230px;
	left: 57px;
	top: -40px;
	transform: rotate(67deg);
	width: 101px;
	z-index: 11;
}
.nike2 { 
	border-radius: 101px/207px;
	height: 207px;
	left: 53px;
	top: 1px;
	transform: rotate(84deg);
	width: 101px;
	z-index: 12;
}
.nike3 { 
	height: 80px;
	left: 91px;
	top: 65px;
	width: 124px;
	z-index: 13;
}
.nike4 { 
	border-top: 39px solid transparent;
	border-right: 0 none;
	border-bottom: 5px solid transparent;
	border-left: 276px solid #fff;
	left: 90px;
	top: 112px;
	z-index: 14;
}
.nike5 { 
	border-radius: 97px/175px;
	height: 175px;
	left: 88px;
	top: -31px;
	transform: rotate(67deg);
	width: 97px;
	z-index: 15;
}



/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
 #pepsi { 
    background: #013668;
}
#pepsi { 
    background: white;
  border-radius: 220px;
  height: 220px;
  left: 400px;
  position: absolute;
  /* margin: -110px; */
  top: 1300px;
  width: 220px;
}
#pepsi .red1, #pepsi .red2, #pepsi .red3 { 
    background: #ee3a43;
}
#pepsi .red1 { 
    border-radius: 200px 0 0 0;
    clip: rect(0px 200px 79px 0);
    height: 100px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 100px;
}
#pepsi .red2 { 
    border-radius: 0 200px 0 0;
    clip: rect(0px 200px 92px 0);
    height: 100px;
    left: 110px;
    position: absolute;
    top: 10px;
    width: 100px;
}
#pepsi .red3 { 
    border-radius: 161px/117px;
    clip: rect(103px 140px 117px 30px);
    height: 117px;
    left: -17px;
    position: absolute;
    top: -15px;
    width: 161px;
}
#pepsi .blue1,#pepsi .blue2,#pepsi .blue3 { 
    background: #016aab;
}
#pepsi .blue1 { 
    border-radius: 0 0 0 200px;
    bottom: 10px;
    clip: rect(8px 200px 100px 0);
    height: 100px;
    left: 10px;
    position: absolute;
    width: 100px;
}
#pepsi .blue2 { 
    border-radius: 0 0 200px 0;
    bottom: 10px;
    clip: rect(22px 200px 100px 0);
    height: 100px;
    left: 110px;
    position: absolute;
    width: 100px;
}
#pepsi .blue3 { 
    border-radius: 161px/117px;
    clip: rect(0 132px 15px 29px);
    height: 117px;
    left: 75px;
    position: absolute;
    top: 118px;
    width: 161px;
}
#pepsi .white1 { 
    background: #ffffff;
    border-radius: 161px/117px;
    clip: rect(0 136px 22px 0);
    height: 117px;
    left: 75px;
    position: absolute;
    top: 81px;
    width: 161px;
}
#pepsi .white2 { 
    background: #ffffff;
    border-radius: 161px/117px;
    clip: rect(95px 136px 117px 0);
    height: 117px;
    left: -17px;
    position: absolute;
    top: 22px;
    width: 161px;
}
#pepsi .drop { 
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 26px/30px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    height: 30px;
    opacity: 0.6;
    position: absolute;
    width: 26px;
}
#pepsi .drop:before { 
    background: linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%);
    border-radius: 20px;
    content: "drop";
    height: 20px;
    left: 4px;
    position: absolute;
    text-indent: -9999px;
    top: 2px;
    width: 18px;
}
#pepsi .drop:after { 
    border-radius: 26px;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
    box-shadow: 0 2px 0 #fff;
    content: "drop";
    height: 24px;
    left: 1px;
    position: absolute;
    text-indent: -9999px;
    top: 3px;
    width: 24px;
}
#pepsi .drop1 { 
    left: 80px;
    top: 80px;
}
#pepsi .drop2 { 
    left: 33px;
    top: 50px;
    transform: scale(0.6);
}
#pepsi .drop3 { 
    left: 150px;
    top: 136px;
    transform: scale(0.7);
}
#pepsi .drop4 { 
    left: 145px;
    top: 169px;
}
#pepsi .drop5 { 
    left: 130px;
    top: 26px;
    transform: scale(0.9);
}
#pepsi .drop6 { 
    left: 50px;
    top: 138px;
    transform: scale(0.7);
}






/*      ________________                 __                         
  ___  / ____/ ___/ ___/____  ___  _____/ /_    _________  ____ ___ 
 / _ \/ /    \__ \\__ \/ __ \/ _ \/ ___/ __/   / ___/ __ \/ __ `__ \
/  __/ /___ ___/ /__/ / /_/ /  __/ /  / /_   _/ /__/ /_/ / / / / / /
\___/\____//____/____/ .___/\___/_/   \__/  (_)___/\____/_/ /_/ /_/ 
                    /_/                                         */
#twitter { 
	background: #000 ;
}
#twitter { 
	  height: 200px;
  right: 50px;
  /* margin: -100px 0 0 -145px; */
  position: absolute;
  top: 1500px;
  width: 290px;

}
#twitter .draw { 
	background: white;
}
#twitter .mask { 
	background: #000;
}
#twitter .twitter1,
#twitter .twitter3 { 
	border-radius: 56px/33px;
	height: 33px;
	width: 56px;
}
#twitter .twitter1 { 
	clip: rect(17px 70px 40px 0);
	left: 234px;
	top: 72px;
	transform: skewy(-4deg);
}
#twitter .twitter3 { 
	clip: rect(18px 70px 40px 0);
	left: 232px;
	top: 56px;
	transform: skewy(-5deg);
}
#twitter .twitter2,
#twitter .twitter4 { 
	border-radius: 38px/10px;
	height: 10px;
	width: 38px;
}
#twitter .twitter2 { 
	left: 254px;
	top: 83px;
	transform: rotate(5deg);
}
#twitter .twitter4 { 
	left: 251px;
	top: 67px;
}
#twitter .twitter5 { 
	border-radius: 148px;
	clip: rect(0 150px 72px 60px);
	height: 148px;
	left: 109px;
	top: 16px;
	width: 148px;
}
#twitter .twitter6 { 
	border-radius: 258px/167px;
	bottom: 0;
	clip: rect(50px 130px 170px 0px);
	height: 167px;
	left: -5px;
	width: 258px;
}
#twitter .twitter7 { 
	border-radius: 259px/208px;
	bottom: 0;
	clip: rect(91px 260px 220px 127px);
	height: 208px;
	left: -3px;
	transform: skewx(-5deg);
	width: 259px;
}
#twitter .twitter8 { 
	border-radius: 149px;
	height: 149px;
	left: -22px;
	top: 16px;
	width: 149px;
}
#twitter .twitter9,
#twitter .twitter10 { 
	border-radius: 63px/157px;
	height: 157px;
	width: 63px;
}
#twitter .twitter9 { 
	clip: rect(49px 20px 160px 0px);
	left: 149px;
	top: -20px;
	transform: rotate(27deg);
}
#twitter .twitter10 { 
	clip: rect(26px 20px 50px 0px);
	left: 149px;
	top: -20px;
	transform: rotate(27deg);
}
#twitter .twitter11 { 
	height: 10px;
	left: 182px;
	top: 3px;
	transform: rotate(20deg);
	width: 10px;
}
#twitter .twitter12 { 
	border-radius: 8px/30px;
	height: 30px;
	left: 198px;
	top: -3px;
	transform: rotate(66deg);
	width: 8px;
}
#twitter .twitter13 { 
	border-radius: 7px 13px 0 0/64px;
	height: 44px;
	left: 180px;
	top: -8px;
	transform: rotate(53deg);
	width: 9px;
}
#twitter .twitter14 { 
	border-radius: 27px 137px 137px 137px/50px;
	clip: rect(0 130px 7px 14px);
	height: 50px;
	left: 29px;
	top: 47px;
	transform: rotate(24deg) skewx(32deg);
	width: 137px;
}
#twitter .twitter15 { 
	border-radius: 36px/58px;
	clip: rect(14px 8px 60px 0);
	height: 58px;
	left: 48px;
	top: 5px;
	transform: rotate(-31deg);
	width: 36px;
}
#twitter .twitter16 {
	clip: rect(0px 30px 3px 0);
	border-radius: 30px/10px;
	height: 10px;
	left: 50px;
	top: 59px;
	width: 30px;
}
#twitter .twitter17 {
	clip: rect(31px 76px 62px 0);
	border-radius: 80px/62px;
	height: 62px;
	left: 51px;
	top: 31px;
	transform: skewx(10deg);
	width: 80px;
}
#twitter .twitter18 {
	clip: rect(0px 30px 7px 0);
	border-radius: 30px/20px;
	height: 20px;
	left: 64px;
	top: 91px;
	width: 30px;
}
#twitter .twitter19 {
	clip: rect(16px 40px 34px 0);
	border-radius: 40px 40px 40px 40px/34px;
	height: 34px;
	left: 65px;
	top: 81.5px;
	transform: skewx(23deg);
	width: 40px;
}
#twitter .twitter20 {
	border-radius: 40px 60px/34px;
	height: 34px;
	left: 86px;
	top: 109px;
	transform: rotate(-20deg) skewx(10deg) scale(0.9);
	width: 50px;
}
#twitter .twitter21 {
	background: none;
	border: 56px solid white;
	border-right: 59px solid transparent;
	border-top: 33px solid transparent;
	height: 0;
	left: 77px;
	top: 30px;
	transform: skewx(30deg);
	width: 0;
}
#twitter .twitter22 {
	background: none;
	border: 20px solid transparent;
	border-right-color: white;
	border-bottom-color: white;
	top: 54px;
	left: 130px;
}
/* style for the eCSSpert logo */
#info .ecsspert:after {
	color: #124759;
}






 
    /** Reddit Alien **
    ******************/
    
    #reddit-alien {
        width: 296px;
        height: 380px;
        position: relative;
        margin: 0 auto;
    }
    
    #reddit-alien div { position: absolute; }
    
    #reddit-alien .antenna {
        height: 50px;
        width: 44px;
        top: 40px;
        left: 155px;
        border: 7px solid black;
        border-width: 9px 0 0 9px;
        -webkit-border-radius: 5px 0 0 0;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 5px 0 0 0;
        border-radius: 5px 0 0 0;
        -webkit-transform: rotate(16deg);
        -moz-transform: rotate(16deg);
        -o-transform:rotate(16deg);
    }
    
    #reddit-alien .dot {
        width: 26px;
        height: 26px;
        left: 37px;
        top: -28px;
        border: 8px solid black;
        -webkit-border-radius: 26px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 26px;
        border-radius: 26px;
        background: white;
    }
    
    #reddit-alien .ear {
        width: 32px;
        height: 32px;
        top: 100px; 
        border: 8px solid black;
        -webkit-border-radius: 32px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 32px;
        border-radius: 32px;
        background: white;
    }
    #reddit-alien .ear.left { left: 40px; }
    #reddit-alien .ear.right { left: 216px; }
    
    #reddit-alien .head {
        z-index: 2;
        top: 88px;
        left: 52px;
        height: 115px;
        width: 182px;
        border: 9px solid black;
        -webkit-border-radius: 150px 100px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 150px / 100px;
        border-radius: 150px / 100px;
        background: white;
    }

    #reddit-alien .eye {
        z-index: 2;
        width: 32px;
        height: 32px;
        top: 29px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        background: orangeRed;
    }
    #reddit-alien .eye.left { left: 42px; }
    #reddit-alien .eye.right { left: 110px; }
    
    #reddit-alien .mouth {
        z-index: 1;
        width: 94px;
        height: 80px;
        top: 3px;
        left: 35px;
        border: 9px solid white;
        border-bottom-color: black;
        -webkit-border-radius: 150px 120px;
        -moz-border-radius: 150px / 120px;
        border-radius: 150px / 120px;
    }
    
    #reddit-alien .body {
        z-index: 1;
        width: 88px;
        height: 178px;
        left: 100px;
        top: 150px;
        border: 8px solid black;
        -webkit-border-radius: 120px 250px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 120px / 250px;
        border-radius: 120px / 250px;
        background: white;
    }
    
    #reddit-alien .arm {
        height: 78px;
        width: 39px;
        top: 210px;
        border: 8px solid black;
        background: white;
        -webkit-background-clip: padding-box;
    }
    
    #reddit-alien .arm.left {
        left: 78px;
        -webkit-border-radius: 43px 0 0 43px;
        -moz-border-radius: 80px 0 0 90px;
        border-radius: 43px 0 0 43px;
    }
    
    #reddit-alien .arm.right {
        left: 170px;
        -webkit-border-radius: 0 43px 43px 0;
        -moz-border-radius: 0 80px 90px 0;
        border-radius: 0 43px 43px 0;
    }
    
    #reddit-alien .foot {
        border: 8px solid black;
        width : 50px;
        height: 16px;
        top: 312px;
        background: white;
        -webkit-background-clip: padding-box;
    }
    
    #reddit-alien .foot.left {
        -webkit-border-radius: 24px 24px 0 0;
        -moz-border-radius: 30px 0 0 10px;
        border-radius: 24px 24px 0 0;
        left: 82px;
    }
    
    #reddit-alien .foot.right {
        -webkit-border-radius: 24px 24px 0 0;
        -moz-border-radius: 0 30px 10px 0;
        border-radius: 24px 24px 0 0;
        left: 156px;
    }
    #article{width:600px;margin:0 auto;padding:1em;text-align:center;}
    #article h1{font-size:1.6em;font-weight:normal;margin:0 0 0.5em 0;}
    #article p{margin:0;font-size:1em;line-height:1.5em;}
    #article a{text-decoration:none;color:#778899;}
    #results{padding:10px 0;border-top:1px solid #ccc;background:white;text-align:center;}
    #article{
    	display: none;
    	  top: 1500px;
  background-color: #fff;
  position: absolute;
    }
 





 .drop-shadow {
    width: 300px;
    height: 150px;
    position: relative;
    background: #ccc; 
    margin-left: 100px;       
  }

  .drop-shadow:before,
  .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 10px;
    width: 50%;
    max-width: 150px;
    height: 20%;
    /*add box-shadow*/
    -webkit-box-shadow: 0 15px 10px rgba(125,125,125,0.8);
    -moz-box-shadow: 0 15px 10px rgba(125,125,125,0.8);
    box-shadow: 0 15px 10px rgba(125,125,125,0.8);
    /*add css3 transform*/
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

 .drop-shadow:after {
    right:10px;
    left: auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
 }